:root {
  --background-primary: #ebeff7;
  --background-secondary: #ffffff;
  --foreground: #000000;
  --font-inter: "Inter";
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  font-size: 16px;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
