.languageList {
  list-style: none;
  padding: 0;
  margin: 32px 0 0 0;
  display: flex;
  justify-content: center;
}

.languageItem {
  padding: 0 6px 0 6px;
  margin: 0;
  display: inline-block;
  opacity: 0.5;
}

.languageItem:not(:first-child) {
  border-left: 1px solid var(--border-default);
  opacity: 1;
}

.languageLink {
  text-decoration: none;
  color: var(--text-default);
  font-size: 0.875rem;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.languageText {
  color: var(--text-default);
}
