.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-secondary);
  color: var(--text-default);
  height: 3.5rem;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.footerContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.footerLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footerLinkItem {
  padding: 0;
  margin: 0;
}

.footerLink {
  text-decoration: none;
  color: var(--text-default);
  font-size: 0.875rem;
  font-weight: 500;
}
